.task-details-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .task-details-container h2 {
    margin-bottom: 15px;
  }
  
  .task-details-container p {
    margin-bottom: 10px;
  }
  
  .task-details-container .completed {
    color: #6cbf68;
    font-weight: bold;
  }
  